
  <%- include('partials/head')%>

  <%- include("partials/navbar")%>

  <h1>Homepage <%= 4 + 5 + 1 %></h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi dolor sunt aliquam nam reiciendis doloribus, nostrum debitis, eos excepturi ducimus, quia laborum dicta veniam? Aspernatur porro praesentium nobis illum adipisci!</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam maiores nam dicta sed voluptatum architecto magni sit, ut odio deleniti soluta. Porro animi saepe dolores iusto laborum reiciendis aperiam deserunt.</p>
  <%- include("partials/footer")%>