<footer class="footer bg-dark py-3 mt-auto"> 
  <!-- flex를 이용할 땐 jsutify-self같은 것 보다는 mt-auto같은걸로 크기를 정해주는 게 좋다고 한다. -->
  <div class="container">
    <span class="text-muted">&copy;YelpCamp 2022</span>
  </div>
</footer>